# web
static/out/*
!static/out/README.md

# api
api/*
!api/README.md

# build
dist/*
build

# vscode
.vscode

# data
data
internal/core/subconv/subconv.es5.js
session/

# misc
config.json
docs/feature/*
docs/bug/*
docs/evaluate/*
docs/archive/*
docs/*.md
